{% extends 'base.html.twig' %}

{% block title %}Home - Append Bootstrap Template{% endblock %}

{% block main %}
<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
        <img src="{{ asset('assets/front/img/hero-bg.jpg') }}" alt="" data-aos="fade-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Our Website</h2>
                    <p data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites with Bootstrap</p>
                </div>
                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="sign-up-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="{{ asset('assets/front/img/clients/client-1.png') }}" class="img-fluid" alt="">
                </div><!-- End Client Item -->
                <!-- Repeat for other clients -->
            </div>
        </div>
    </section><!-- /Clients Section -->

    <!-- Other sections can be added here following the same pattern -->

</main>
{% endblock %}