{% extends 'base.html.twig' %}

{% block title %}Edit Feed{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Edit Feed</h1>
        
        <div class="card shadow-sm">
            <div class="card-body">
                <!-- Form for updating the feed -->
                {{ include('feed/_form.html.twig', {'button_label': 'Update', 'class': 'btn btn-primary'}) }}
            </div>
        </div>
        
        <div class="mt-3 text-center">
            <a href="{{ path('app_feed_index') }}" class="btn btn-secondary">Back to List</a>
        </div>

        <div class="mt-4 text-center">
            <!-- Delete Form for feed -->
            {{ include('feed/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
